.DS_Store

# NodeJs
node_modules/

# Composer Vendor
composer.lock
vendor/

# WP-CLI Config
wp-cli.local.yml

# WordPress
wordpress/
/.subsplit
/deploy/*
!/deploy/*.sh
!/deploy/*.enc

# PHP Storm
.idea

# PHP-CS-Fixer
/.php_cs
/.php_cs.cache

# PHPUnit
.phpunit.result.cache