<?php
/**
 * Plugin Name: WordPress REST API Management
 * Description: A WordPress Plugin For REST API Management
 * Version:     1.0.0
 * License:     MIT
 *
 * @package WP-PACKAGIST
 */

{{{rest_prefix}}}{{{complete_disable_rest}}}{{{remove_all_default_route}}}{{{disable_custom_route}}}{{{rest_link}}}{{{rest_header}}}{{{rest_cros}}}