<?php
/**
 * Check Site URL
 * Version:     1.0.0
 * License:     MIT
 */
# Set Default Header
header( 'Content-Type: application/json' );

# Set Default result
$result = array( 'status' => 'error', 'data' => 'You don't have permission.' );

//Check Exist Security Code
if ( isset( $_GET['wp_cli_package_check_url'] ) and trim( $_GET['wp_cli_package_check_url'] ) == "{{GET_KEY}}" ) {
	$result = array( 'status' => 200 );
}

# Remove This File
@unlink( rtrim( str_ireplace( "\\", "/", getcwd() ), "/" ) . "/{{FILE_NAME}}" );

# Result Json data
echo json_encode( $result );
exit;