<?php
/**
 * Plugin Name: WP-Cli FTP Remote
 * Description: A WordPress Plugin For Control Wordpress Site With wp cli application
 * Version:     1.0.0
 * License:     MIT
 *
 * @package wp-cli-application
 * @version 1.0.0
 */
{{{do_action}}}
add_action( "wp_loaded", function () {

	//Check Exist Security Code
	if ( isset( $_GET['wp_cli_ftp_token'] ) and trim($_GET['wp_cli_ftp_token']) =="{{GET_KEY}}" ) {

		//Set Default Header
		header( 'Content-Type: application/json' );
		$result = array();

		{{{code}}}

		//Remove This Mu Plugins
		@unlink( path_join( WPMU_PLUGIN_DIR, "{{file_name}}" ) );

        {{{after_remove_plugin}}}

		//Return Result
		echo wp_send_json( $result );
		exit;
	}
});
?>