<?php
/**
 * This file Check Wordpress Directory Path For Use in wp cli application
 * Version:     1.0.0
 * License:     MIT
 *
 * @package wp-cli-application
 * @version 1.0.0
 */
if ( isset( $_GET['wp_cli_ftp_token'] ) and trim( $_GET['wp_cli_ftp_token'] ) == "{{GET_KEY}}" ) {

	//Set Default Header
	header( 'Content-Type: application/json' );
	$result               = array();
	$result['status']     = 1;
	$result['wp_content'] = '';
	$result['mu_plugins'] = '';
	$result['wp_uploads'] = '';
	$result['wp_themes']  = '';
	$result['wp_plugins'] = '';

	//require wp-load
	if ( file_exists( rtrim( dirname( __FILE__ ), "/" ) . DIRECTORY_SEPARATOR . "wp-load.php" ) ) {
		require_once( rtrim( dirname( __FILE__ ), "/" ) . DIRECTORY_SEPARATOR . "wp-load.php" );

		//Get wp_content dir
		$result['wp_content'] = wp_normalize_path( str_replace( ABSPATH, "/", WP_CONTENT_DIR ) );

		//get Uploads dir
		$upload_dir           = wp_upload_dir();
		$result['wp_uploads'] = wp_normalize_path( str_replace( ABSPATH, "/", $upload_dir['basedir'] ) );

		//get plugins dir
		$result['wp_plugins'] = wp_normalize_path( str_replace( ABSPATH, "/", WP_PLUGIN_DIR ) );

		//get themes dir
		$result['wp_themes'] = wp_normalize_path( str_replace( ABSPATH, "/", get_theme_root() ) );

		//Create Must Use Folder
		$is_dir               = 1;
		$mu_plugin_path       = WP_CONTENT_DIR . '/' . 'mu-plugins';
		$result['mu_plugins'] = wp_normalize_path( str_replace( ABSPATH, "/", $mu_plugin_path ) );
		@mkdir( $mu_plugin_path, 0777 );
		$path = realpath( $mu_plugin_path );
		if ( $path === false ) {
			$result['status'] = 0;
		}
	} else {
		$result['status'] = 0;
	}

	//Remove This File
	@unlink( dirname( __FILE__ ) . DIRECTORY_SEPARATOR . "{{file_name}}" );

	//Return Result
	echo json_encode( $result );
	exit;
}
?>