define( "WP_CLI_ACL", "{{wp_acl}}" );
$user_search = '{{user_search}}';
$go = '{{go_after_login}}';

if ( ! isset( $_GET[ WP_CLI_ACL ] ) ) {

	//Check User Exist
	$user = wp_cli_get_user_info( $user_search );
	if ( $user != false ) {
		$user_id = $user->ID;
	} else {
		$result['status'] = 0;
		$result['error']  = "User is not found.";
        @unlink( path_join( WPMU_PLUGIN_DIR, "{{file_name}}" ) );
		echo wp_send_json( $result );
		exit;
	}

    //Check redirect
    if($go =="admin") {
        $redirect_after_login = admin_url();
    } else {
        $redirect_after_login = home_url();
    }

	//Generate Option
	$home = get_option( 'home' );

	//Create Login Option
	$hash = wp_generate_password( 30, false );
	update_option( WP_CLI_ACL, array(
		'hash'     => $hash,
		'type'     => 'login',
		'id'       => $user_id,
		'time'     => time(),
		'redirect' => $redirect_after_login
	), "no" );

	//Redirect After Create Option
    $args_link = array('wp_cli_ftp_token' => '{{GET_KEY}}');
    $args_link[WP_CLI_ACL] = 'login,' . $hash;
	$link = add_query_arg($args_link, rtrim($home, "/")."/" );
    $result['status'] = 1;
    $result['redirect']  = $link;
    echo wp_send_json( $result );
	exit;

} else {

//Check hash content
	$get = explode( ",", $_GET[ WP_CLI_ACL ] );
	if ( count( $get ) == 2 ) {

		//validation Command
		$command = array( "login" );
		if ( in_array( trim( $get[0] ), $command ) ) {

			//Check option value
			$wp_cli_acl = get_option( WP_CLI_ACL );
			if ( isset( $wp_cli_acl ) and is_array( $wp_cli_acl ) and isset( $wp_cli_acl['hash'] ) and trim( $get[1] ) == $wp_cli_acl['hash'] ) {
				$type = trim( $get[0] );

				//Check expire time for the process
				$time = time();
				if ( $time - $wp_cli_acl['time'] < 60 ) {

					//Login Function
					if ( $type == "login" ) {

						$user_id = $wp_cli_acl['id'];
						$user    = get_user_by( 'id', $user_id );
						if ( $user ) {
							wp_set_current_user( $user_id, $user->user_login );
							wp_set_auth_cookie( $user_id );
							do_action( 'wp_login', $user->user_login );
						}

					}

					//Remove Options
					update_option( WP_CLI_ACL, array(), "no" );

					//Remove Plugin File
					@unlink( path_join( WPMU_PLUGIN_DIR, "{{file_name}}" ) );

					//Redirect
					if ( isset( $wp_cli_acl['redirect'] ) and $wp_cli_acl['redirect'] != "" ) {
						wp_redirect( $wp_cli_acl['redirect'] );
					}
					exit;
				}
			}
		}
	}
}