//Get Uploads Folder
$upload_dir = wp_upload_dir();

//Area Of Backup
$area = '{{area}}';

//Check Area Of Backup
$area_list = array(
	'files'      => array(
		'source'     => ABSPATH,
		'dir_in_zip' => 'wordpress',
		'file_key'   => 'wordpress'
	),
	'plugins'    => array(
		'source'     => str_replace( ABSPATH, "./", wp_normalize_path( WP_PLUGIN_DIR ) ),
		'dir_in_zip' => basename( wp_normalize_path( WP_PLUGIN_DIR ) ),
		'file_key'   => basename( wp_normalize_path( WP_PLUGIN_DIR ) )
	),
	'themes'     => array(
		'source'     => str_replace( ABSPATH, "./", wp_normalize_path( get_theme_root() ) ),
		'dir_in_zip' => basename( wp_normalize_path( get_theme_root() ) ),
		'file_key'   => basename( wp_normalize_path( get_theme_root() ) )
	),
	'uploads'    => array(
		'source'     => str_replace( ABSPATH, "./", wp_normalize_path( $upload_dir['basedir'] ) ),
		'dir_in_zip' => basename( wp_normalize_path( $upload_dir['basedir'] ) ),
		'file_key'   => basename( wp_normalize_path( $upload_dir['basedir'] ) )
	),
	'wp-content' => array(
		'source'     => str_replace( ABSPATH, "./", wp_normalize_path( WP_CONTENT_DIR ) ),
		'dir_in_zip' => basename( wp_normalize_path( WP_CONTENT_DIR ) ),
		'file_key'   => basename( wp_normalize_path( WP_CONTENT_DIR ) )
	)
);

//Get Default Backup Dir
$backup_dir      = '{{backup_dir}}';
$backup_dir_path = path_join( ABSPATH, $backup_dir );

//Generate File Name
$file_name = 'backup_' . $area_list[ $area ]['file_key'] . '_' . date( "Y-m-d_H-i" ) . '.zip';

//Create Backup wordpress File
$backup = wp_cli_create_zip_archive( $area_list[ $area ]['source'], path_join( $backup_dir_path, $file_name ), $area_list[ $area ]['dir_in_zip'], array( $backup_dir . "/" ) );

//Check run Operation
sleep( 3 );
if ( $backup === true and file_exists( path_join( $backup_dir_path, $file_name ) ) ) {
	$result['status'] = 1;
	$result['link']   = rtrim( home_url(), "/" ) . '/' . $backup_dir . '/' . $file_name;
	$result['size']   = size_format( filesize( path_join( $backup_dir_path, $file_name ) ), 2 );
} else {
	$result['status'] = 0;
	$result['error']  = "Backup operation failed. please try again.";
}
