//Get Default Backup Dir
$backup_dir      = '{{backup_dir}}';
$backup_dir_path = path_join( ABSPATH, $backup_dir );

//Prepare Empty Object
$result                       = array();
$result['list']               = array();
$result['number_backup_file'] = 0;

//Get List Of files
$path = realpath( $backup_dir_path );
if ( $path !== false AND is_dir( $path ) ) {
	foreach ( scandir( $backup_dir_path ) as $file ) {
		if ( in_array( $file, array( '.', '..', '.php', '.htaccess' ) ) ) {
			continue;
		}
		$info      = pathinfo( $file );
		$extension = $info['extension'];
		if ( in_array( $extension, array( 'sql', 'zip', 'gz' ) ) ) {
			$in_array = true;
			//Check Search
			if ( $search != "" ) {
				if ( stristr( $file, $search ) === false ) {
					$in_array = false;
				}
			}
			if ( $in_array === true ) {
				$result['list'][] = array(
					'File'       => basename( $file ),
					'Size'       => size_format( filesize( path_join( $backup_dir_path, $file ) ), 2 ),
					'CreateDate' => date( "F d Y H:i:s", filectime( path_join( $backup_dir_path, $file ) ) ),
				);
				$result['number_backup_file'] ++;
			}
		}
	}
}

//Show Result
$result['status'] = 1;
