/**
 * Remove Complete Folder
 *
 * @param $dir
 * @param bool $remove_folder
 * @return bool
 */
function wp_cli_remove_folder( $dir, $remove_folder = false ) {
	$di = new RecursiveDirectoryIterator( $dir, \FilesystemIterator::SKIP_DOTS );
	$ri = new RecursiveIteratorIterator( $di, \RecursiveIteratorIterator::CHILD_FIRST );
	foreach ( $ri as $file ) {
		$file->isDir() ? rmdir( $file ) : unlink( $file );
	}
	if ( $remove_folder ) {
		@rmdir( $dir );
	}

	return true;
}
