/**
 * Get User Info
 *
 * @param $value
 * @return bool
 */
function wp_cli_get_user_info( $value ) {

	if ( is_numeric( $value ) ) {
		$user = get_user_by( 'id', $value );
	} else {
		if ( is_email( $value ) ) {
			$user = get_user_by( 'email', $value );
		} else {
			$user = get_user_by( 'login', $value );
		}
	}
	if ( $user ) {
		return $user;
	} else {
		return false;
	}
}
